<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Visão Geral dos Pedidos</h5>
      <p-table [value]="orders" [rows]="10" [paginator]="true" responsiveLayout="scroll" [sortField]="'orderDate'" 
      [sortOrder]="-1" >
        <ng-template pTemplate="header">
          <tr>
            <th>Imagem</th>
            <th>Status</th>
            <th>Detalhes</th>
            <th>Forma de Pagamento</th>
            <th>Valor</th>
            <th>Data do Pedido</th>
            <th>Data de Entrega</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>
              <img 
                *ngIf="order.files.length > 0" 
                [src]="order.files[0]?.fileUrl" 
                alt="{{ order.files[0]?.fileName }}" 
                class="thumbnail"
                (click)="openCarousel(order)" 
                style="cursor: pointer;" />
            </td>
            <td>
              <span class="status-badge" [ngClass]="{
                'status-pendente': order.status === 'PENDENTE',
                'status-em-andamento': order.status === 'EM_ANDAMENTO',
                'status-concluido': order.status === 'CONCLUIDO'
              }">{{ order.status }}</span>
            </td>
            <td>
              <button pButton type="button" label="Ver Detalhes" icon="pi pi-info-circle" (click)="openOrderDetails(order)"></button>
            </td>
            <td>{{ order.paymentMethod }}</td>
            <td>{{ order.totalValue | currency: 'BRL' }}</td>
            <td>{{ order.orderDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ order.deliveryDate ? (order.deliveryDate | date: 'dd/MM/yyyy') : 'Pendente' }}</td>
            <td>
              <button *ngIf="order.status === 'PENDENTE'" pButton type="button" label="Pagar Agora" 
                icon="pi pi-credit-card" class="p-button-success" (click)="openPaymentModal(order)"></button>
              <button *ngIf="order.status === 'CONCLUIDO'" pButton type="button" label="Baixar Resultado" 
                icon="pi pi-download" (click)="confirmDownloadResult(order)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Nenhum pedido encontrado.</td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Modal para o pagamento -->
      <p-dialog header="Pagamento do Pedido" [(visible)]="paymentDialogVisible" [modal]="true" [style]="{width: '450px'}">
        <p-progressSpinner *ngIf="isLoading" [style]="{ 'width': '50px', 'height': '50px', 'position': 'fixed', 'top': '50%', 'left': '50%', 'transform': 'translate(-50%, -50%)' }" ariaLabel="loading"></p-progressSpinner>

        <div [class.blurred]="isLoading" class="p-fluid">
          <div class="p-field">
            <h4>Finalize o pagamento para o pedido #{{ selectedOrder?.id }}</h4>
            <div id="wallet_container"></div>
          </div>
        </div>
        <p-footer>
          <p-button label="Fechar" icon="pi pi-times" class="p-button-text" (click)="paymentDialogVisible = false"></p-button>
        </p-footer>
      </p-dialog>

      <!-- Modal de Detalhes do Pedido -->
      <p-dialog header="Detalhes do Pedido" [(visible)]="displayOrderDetails" [modal]="true" [dismissableMask]="true" [style]="{width: '600px'}">
        <div *ngIf="selectedOrder">
          <h5>Serviços solicitados:</h5>
          <div *ngFor="let file of selectedOrder.files">
            <h6>{{ file.fileName }}</h6>
            <ul>
              <li *ngFor="let service of file.services">{{ service.name }}</li>
            </ul>
          </div>
        </div>
      </p-dialog>

      <!-- Carrossel de Imagens com Fundo Escuro -->
      <div *ngIf="displayCarousel" class="carousel-overlay" (click)="closeCarousel()">
        <div class="carousel-container" (click)="$event.stopPropagation()">
          <p-galleria [(visible)]="displayCarousel" [value]="carouselImages" [showItemNavigators]="true" 
            [showThumbnails]="true" [responsiveOptions]="responsiveOptions" 
            [containerStyle]="{ 'max-width': '850px', 'max-height': '600px', 'overflow': 'hidden' }" 
            [style]="{ 'width': '850px', 'height': '600px' }">
            <ng-template pTemplate="item" let-image>
              <img [src]="image.previewImageSrc" [alt]="image.alt" 
                   style="width: 100%; height: 100%; object-fit: contain;">
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
