.carousel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.carousel-container {
  width: 850px; /* Largura fixa do carrossel */
  height: 600px; /* Altura fixa do carrossel */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1001;
  overflow: hidden; /* Impede que o conteúdo saia dos limites do container */
}

.carousel-container img {
  max-width: 100%; /* Ajusta a imagem para caber dentro da largura do container */
  max-height: 100%; /* Ajusta a imagem para caber dentro da altura do container */
  object-fit: contain; /* Garante que a imagem mantenha sua proporção dentro do container */
}

.p-galleria-item-next, 
.p-galleria-item-prev {
  z-index: 1002; /* Garante que as setas fiquem visíveis acima da imagem */
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.carousel-modal-open {
  overflow: hidden; /* Previne o scroll na página enquanto o carrossel está aberto */
}
