<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Lista de Usuários</h5>
      <p-table #dt [value]="usuarios" [paginator]="true" [rows]="10" [loading]="loading" [globalFilterFields]="['name', 'email', 'role', 'status']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Limpar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..." class="w-full" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="role">Função <p-sortIcon field="role"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
          <tr>
            <td>{{usuario.name}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.role}}</td>
            <td>{{usuario.status}}</td>
            <td>
              <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="editUser(usuario)"></button>
              <button pButton [icon]="getStatusButtonIcon(usuario)" [class]="getStatusButtonClass(usuario) + ' p-button-rounded p-button-text'" (click)="toggleUserStatus(usuario)"></button>
              <button pButton [icon]="getRoleButtonIcon(usuario)" [class]="getRoleButtonClass(usuario) + ' p-button-rounded p-button-text'" (click)="changeUserRole(usuario)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Nenhum usuário encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
